#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.city-list {
  text-align: center;
}

.city-list ul {
  list-style: none;
  padding: 0;
}

.city-list li {
  margin: 10px 0;
}

.city-list a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
}

.city-list a:hover {
  text-decoration: underline;
}

.forecast {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.forecast p {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  color: black;
}

.forecast button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0px 5px;
}

.forecast button:hover {
  border-color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.details {
  justify-content: end;
  margin-top: 20px;
  padding: 10px;
}

a {
  background-color: #636464;
  border-radius: 3px;
  padding: 5px;
  margin-top: 20px;
  color: #020463;
}

a:hover {
  text-decoration: underline;
}
